<template>
    <select v-model="selected" @change="selectCategory()">
      <option disabled value="">Category</option>
      <option v-for="category in categories" :key="category.id" v-bind:value="category.id">
        {{ category.name }}
      </option>
    </select>
</template>

<script>

import {fetchCategory} from "@/api/categoryAPI";
import { mapMutations } from 'vuex'

export default {
  name: "CategoryList",
  async created() {
    const [error, categories] = await fetchCategory()
    this.error = error
    this.categories = categories
  },
  data() {
    return {
      categories: [],
      selected: ''
    }
  },
  methods: {
    ...mapMutations([ 'setCategory' ]),
    selectCategory() {
      this.setCategory(this.selected);
    }
  }
}
</script>

<style scoped>


</style>