<template>
    <select v-model="selected" @change="selectDifficulty()">>
      <option disabled value="">Difficulty</option>
      <option v-for="option in options" :key="option.message">
        {{ option.value }}
      </option>
    </select>
</template>

<script>

import { mapMutations } from 'vuex'
export default {
  name: "DifficultyList",
  data() {
    return {
      selected: '',
      options: [
        { value: 'Easy' },
        { value: 'Medium' },
        { value: 'Hard' },
      ]
    }
  },
  methods: {
  ...mapMutations([ 'setDifficulty' ]),
    selectDifficulty() {
      this.setDifficulty(this.selected.toLowerCase());
    }
  }
}
</script>

<style scoped>
</style>