<template>
    <select v-model="selected" @change="selectNumOfQuestions">
      <option disabled value="">Number of Questions</option>
      <option v-for="option in options" :key="option.message">
        {{ option.value }}
      </option>
    </select>
</template>

<script>
import {mapMutations} from "vuex";

export default {
  name: "NumList",
  data() {
    return {
      selected: '',
      options: [
        { value: 10 },
        { value: 20 },
        { value: 30 },
        { value: 40 },
        { value: 50 },
      ]
    }
  },
  methods: {
    ...mapMutations([ 'setNumOfQuestions' ]),
    selectNumOfQuestions() {
      this.setNumOfQuestions(this.selected);
    }
  }
}
</script>

<style scoped>
</style>