<template>
  <div class="center-elements" >
    <div class="start-card">
      <h1> Trivia </h1>
      <input class="input" @input="onUsernameChange" type="text" placeholder="Username">
      <div class="settings">
        <CategoryList class="select"/>
        <DifficultyList class="select"/>
        <NumList class="select"/>
      </div>
      <button class="button" @click="handleStartGameClicked">Start game</button>
    </div>
  </div>
</template>

<script>
import CategoryList from "@/components/Start/CategoryList";
import DifficultyList from "@/components/Start/DifficultyList";
import {mapActions, mapMutations} from 'vuex'
import NumList from "@/components/Start/NumList";

export default {
  name: "StartPage",
  components: {NumList, CategoryList, DifficultyList},
  data() {
    return {
      username: ''
    }
  },
  methods: {
    ...mapActions(['fetchUser', 'fetchQuestions']),
    ...mapMutations(['setUsername']),
    onUsernameChange(event) {
      this.username = event.target.value.trim()
      this.setUsername(this.username)
    },
    handleStartGameClicked() {
      this.fetchUser(this.username)
      this.$router.push(`/question`)
    }
  }
}
</script>

<style scoped>

.center-elements{
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.start-card{
  border: 3px solid #73bfb8;
  height: auto;
  margin: auto;
  width: 50%;
  padding: 2rem;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-radius: 1rem;
}

h1 {
  font-size: 4.5em;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0;
}

.input {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 0 1rem;
  height: 4rem;
  width: 23rem;
  font-size: 1.2rem;
  border: 2px solid #7c9a96;
  border-radius: .6rem;
}

@media screen and (max-width: 800px) {
  .input {
    width: 15rem;
  }
}

.select {
  margin: .5rem;
  background-color: transparent;
  border: 2px solid black;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: .6rem;
  padding: .6rem .6rem;
  cursor: pointer;
  width: 18rem;
  box-shadow: 0.2rem 0.3rem #a5a5a5;
}

.button{
  min-width: 25%;
  height: 5rem;
  margin: 8rem 0 2rem ;
  background-color: #408c84;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  border-radius: 1.8rem;
  border: 3px solid #408c84;
  box-shadow: 0.2rem 0.3rem #27544f;
  cursor: pointer;
}

</style>