<template>
<div>
  <h1 class="title-class">Results</h1>
  <div class="button-container">
    <button class="button-class" @click="backToStartButtonClicked">Back to start</button>
    <button class="button-class" @click="replayGameClicked">Replay</button>
  </div>
  <div >
    <div class="score-common-class high-score-class">
      <span>High Score: </span> <span>{{highScore}}</span>
    </div>
    <div class="score-common-class score-class" >
      <span>Score: </span> <span>{{score}}</span>
    </div>
  </div>
  <ResultList></ResultList>
</div>
</template>

<script>
import ResultList from "@/components/Result/ResultList";
import {mapGetters, mapMutations} from "vuex";
import {UserAPI} from "@/api/userAPI";

export default {
  name: "Result",
  components: {
    ResultList
  },
  created(){
    this.score = this.getScore
    this.user = this.getUser;
    this.highScore = this.user.highScore
    this.updateHighScore()
  },
  data(){
    return{
      user: {},
      score: 0,
      highScore: 0
    }
  },
  computed:{
    ...mapGetters(['getScore', 'getUser'])
  },
  methods:{
    ...mapMutations(['setAnswer', 'setScore', 'setQuestion', 'setHighScore']),
    backToStartButtonClicked() {
      this.setScore(0)
      this.setAnswer([])
      this.setQuestion([])
      this.$router.push(`/start`)
    },
    updateHighScore() {
      if(this.score > this.highScore){
        UserAPI.updateHighScore(this.user.id, this.score)
        this.highScore = this.score
        this.setHighScore(this.highScore)
      }
    },
    replayGameClicked(){
      this.setScore(0)
      this.setAnswer([])
      this.setQuestion([])
      this.$router.push(`/question`)
    }
  }
}
</script>

<style scoped>
.title-class{
  justify-content: center;
  border: 3px solid #73bfb8;
  margin: auto;
  width: 95%;
  padding: 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 4rem;
  border-radius: 1rem;
}
.button-container{
  float: left;
  margin: 0.2rem 0 0.2rem 3.1rem;
}
.button-class{
  margin: 0.5rem 0.5rem 0.5rem 2.4rem;
  padding: 1rem 0.5rem ;
  width: 12rem;
  font-size: 1.5rem;
  border: 3px solid #27544f;
  border-radius: 0.5rem;
  background-color: #73bfb8;
  color: #27544f;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
}
.score-common-class{
  float: right;
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
}
.score-class{
  margin: 1.5rem 3rem 0.5rem 0;
}
.high-score-class{
  margin: 1.5rem 8rem 0.5rem 0;
}
</style>