<template>
  <div>
    <table class="table-class">
      <tr>
        <th class="table-headers">Question</th>
        <th class="table-headers">Correct Answer</th>
        <th class="table-headers">Your Answer</th>
      </tr>
      <tr v-for="index in questions.length" :key="index">
        <td class="table-cells" v-html="questions[index-1].question">{{questions[index-1].question}}</td>
        <td class="table-cells" v-html="questions[index-1].correct_answer">{{questions[index-1].correct_answer}}</td>
        <td class="table-cells" v-html="answers[index-1]">{{answers[index-1]}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: "ResultList",
  computed: {
    ...mapGetters(['getAnsweredQuestions','getUserAnswers'])
  },
  created() {
    this.questions = this.getAnsweredQuestions
    this.answers = this.getUserAnswers
  },
  data(){
    return{
      index: 0,
      questions: [],
      answers: [],
    }
  }
}
</script>

<style scoped>
.table-class{
  margin: auto;
  width: 90%;
}
.table-headers{
  padding: 1rem;
  border-radius: 0.2rem;
  text-align: left;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  background-color: #27544f;
  color: #ffffff;
}
.table-cells{
  padding: 0.8rem;
  border: 0.1rem solid #73bfb8;
  border-radius: 0.2rem;
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
}
</style>