<template>
  <div>
      <div class="question-card"><h3 v-html="question.question">{{ question.question }}</h3></div>
      <div class="center-elements button-container" @click="getAnswers">
      <button class="button" v-html="answer" v-for="(answer, index) in answers" :key="index" @click="onAnswered(answer)">
        {{ answer }} </button>
      </div>
  </div>
</template>

<script>

import { mapActions } from 'vuex'

export default {
  name: "QuestionItem",
  props: ['question'],
  data() {
    return {
      answers: []
    }
  },
  created() {
    this.getAnswers()

  },
  methods:{
    ...mapActions(['addAnswer', 'addScore']),
    getAnswers() {
      for (let answer of this.question.incorrect_answers) {
        this.answers.push(answer);
      }
      this.answers.push(this.question.correct_answer)
      this.answers.sort(() => Math.random() - 0.5)
    },
    onAnswered(answer){
      this.$emit('answered', this.question.correct_answer === answer)
      this.addAnswer(answer)
      if(answer === this.question.correct_answer){
        this.addScore()
      }

      this.answers = []
    }
  }
}
</script>

<style scoped>
.question-card{
  justify-content: center;
  border: 3px solid #73bfb8;
  margin: auto;
  width: 90%;
  height: 7rem;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  border-radius: 1rem;
}
.button{
  max-width: 35%;
  width: 20%;
  height: 10rem;
  max-height: 10rem;
  margin: 1rem;
  display: inline-block;
  background-color: #408c84;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  border-radius: 1.8rem;
  border: 3px solid #408c84;
  box-shadow: 0.2rem 0.3rem #27544f;
}
.center-elements{
  display: flex;
  justify-content: center;
}
.button-container{
  margin: 2rem 0;
}
</style>