<template>
    <div v-if="questions.length" @click="handleGoToResultsPage">
      <QuestionItem :question="questions[index]"
                    @answered="handleQuestionAnswered"/>
      <div class="center-elements question-counter"><span>{{index+1}}</span> / <span>{{questions.length}}</span></div>
    </div>
</template>

<script>

import QuestionItem from "@/components/Question/QuestionItem";
import {fetchQuestions} from "@/api/questionAPI";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "QuestionPage",
  components: {QuestionItem},

  async created() {
    this.numOfQuestions = this.getNumOfQuestions;
    this.category = this.getCategory;
    this.difficulty = this.getDifficulty;

    const [error, questions] = await fetchQuestions(this.numOfQuestions, this.getCategory, this.getDifficulty)
    this.error = error
    this.questions = questions
    await this.setQuestion(questions)

  },
  computed: {
    ...mapGetters([ 'getNumOfQuestions', 'getCategory', 'getDifficulty' ]),
  },
  data() {
    return {
      error: '',
      questions: [],
      index: 0,
      numOfQuestions: 0,
      category: '',
      difficulty: ''
    }
  },
  methods: {
    ...mapActions(['setQuestion']),
    handleQuestionAnswered(){
      this.index++
    },
    handleGoToResultsPage(){
      if(this.index === this.questions.length )
        this.$router.push(`/result`)
    }
  }
}
</script>


<style scoped>
.center-elements{
  width: 100%;
  display: flex;
  justify-content: center;
}
.question-counter{
  text-align: center;
  margin-top: 27rem;
  font-family: Barlow,sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
</style>