<template>
  <div id="app">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
</style>
